.profile {
  background-color: #e9e9e9;
  color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.title {
  font-weight: 400;
  margin: 0;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 12rem;
  margin: -1rem -1rem 1rem;
  border-bottom: .25rem solid #fdb913;
}

.description {
  font-size: .8rem;
  margin: .15rem 0 auto;
  padding-bottom: 1rem;
}

.socialLinks {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 959px) {
  .profile {
    flex-basis: 66%;
  }
  .image {
    height: 18rem;
  }
}

@media (max-width: 639px) {
  .profile {
    flex-basis: 100%;
  }
  .image {
    height: 24rem;
  }
}
