.event {
  border-bottom: .05rem solid #ccc;
  padding: 2rem 0 3rem;
}

.event:first-child {
  border-top: .05rem solid #ccc;
}

.event header {
  display: flex;
  justify-content: space-between;
}

.link {
  color: #645faa;
}

.link:hover,
.link:focus {
  color: #666;
  text-decoration: none;
}

a.link:hover .eventTitle,
a.link:focus .eventTitle {
  text-decoration: underline;
}

.eventTitle {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.eventDate {
  margin: 0 0 1rem;
}

.location {
  padding-left: 1rem;
}

.daysAway {
  font-weight: 300;
  text-align: center;
  width: 25%;
}

.daysAway > strong {
  color: #645faa;
  display: block;
  font-size: 2rem;
  font-weight: 400;
}

.eventImage {
  float: left;
  height: 10rem;
  width: 10rem;
}
