.article {
	border-bottom: .05rem solid #ccc;
}

.article:first-child {
	border-top: .05rem solid #ccc;
}

.articleLink {
	display: flex;
	color: #000;
	overflow: hidden;
}

.articleLink:hover,
.articleLink:focus {
	color: #666;
	text-decoration: none;
}

a.articleLink:hover .articleTitle,
a.articleLink:focus .articleTitle {
	text-decoration: underline;
}

.articleTitle {
	font-weight: 300;
}

.articleMessage {
	width: 66%;
}

.articleImage {
	display: block;
	background-position: center;
	background-size: cover;
	height: 10rem;
	margin: 1rem 2rem 1rem 0;
	width: 10rem;
}
