/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* -webkit-font-smoothing: antialiased; */
	/* font-smoothing: antialiased; */
	text-rendering: optimizeLegibility;
}
html {
	font-size: 1.5vw;
	font-size: 20px;
	font-weight: 300;
  height: 100%;
	line-height: 1.15;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
	background-color: #fff;
	color: #161616;
  font-family: lineto-brown, Futura, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
  padding: 2rem 10% 3rem;
}

.header {
  border-bottom: 0.05rem solid #ccc;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
}


/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}
.clear {
    *zoom: 1;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
a {
	/* color: #161616; */
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #444;
	text-decoration: underline;
}
input:focus {
	border: 1px solid rgba(0,137,207,1);
}

/*------------------------------------*\
		TYPOGRAPHY
\*------------------------------------*/

h1 {
	font-size: 2.625rem;
	font-weight: 400;
	letter-spacing: .025rem;
	line-height: 1.33;
	margin: 0 0 1rem;
}

h1 > a {
	color: #fff;
}

h2,
.section__title {
  position: relative;
  left: 5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .10625em;
  line-height: 1.5;
  /* margin-left: 2rem; */
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  /* margin-right: calc(50% - 50vw); */
  margin-left: calc(50% - 50vw);
  /* max-width: 100vw; */
  /* width: 100vw; */
  /* transform: translateX(5rem);*/
}

h2::before,
.section__title::before {
	background-color: rgba(0,137,207,1);
	position: absolute;
	top: .625rem;
	left: -5rem;
	content: '';
	display: block;
	width: 3rem;
	height: .1875rem;
}

h2 a,
h2 a:hover,
h2 a:visited {
	color: #000;
}

h2 a:hover,
h2 a:visited {
	text-decoration: underline;
}

/*------------------------------------*\
    A11Y HELPERS
\*------------------------------------*/
.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
	width: 1px;
}

main {
  flex: 1 0 auto;
}

/* Global Header */
.siteId {
  padding: .5rem 1.5rem .5rem;
}

.siteId > a {
  display: inline-block;
  outline: .2rem solid rgba(255,255,255,0);
  outline-offset: 3px;
  transition: .3s outline-color ease-out;
}

.siteId > a:focus {
  outline: .2rem solid rgba(0, 0, 0, 1);
}

.primaryLogo {
  color: #000;
  height: 47px;
  padding-top: .2rem;
  width: 116px;
}

.subsetLogo {
  border-left: 2px solid #000;
  height: 47px;
  padding: 0;
  width: 196px;
  padding-bottom: .25rem;
  padding-left: 1rem;
  margin-left: 1rem;
}

/* Navigation */
.nav {
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: .03125em;
	line-height: 1;
  margin-right: 4px;
}
.nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.nav li {
	display: block;
}
.nav li a {
	border-bottom: .2rem solid rgba(0,0,0,0);
	color: #000;
	display: block;
	margin-bottom: -1px;
	padding: 1.5rem 1rem;
	text-align: center;
	text-decoration: none;
  outline: .2rem solid rgba(255,255,255,0);
  outline-offset: -3px;
  transition: .3s outline-color ease-out;
}
.nav li a:hover,
.nav li a:focus {
	background-color: #f7f7f7;
	color: #161616;
}
.nav > ul > li:nth-of-type(1) .sub-menu,
.nav > ul > li:nth-of-type(1) > a:hover,
.nav > ul > li:nth-of-type(1) > a:focus {
	border-bottom: .2rem solid rgba(253,185,19,1);
}
.nav > ul > li:nth-of-type(2) .sub-menu,
.nav > ul > li:nth-of-type(2) > a:hover,
.nav > ul > li:nth-of-type(2) > a:focus {
	border-bottom: .2rem solid rgba(243,112,33,1);
}
.nav > ul > li:nth-of-type(3) .sub-menu,
.nav > ul > li:nth-of-type(3) > a:hover,
.nav > ul > li:nth-of-type(3) > a:focus {
	border-bottom: .2rem solid rgba(180,40,70,1) ;
}
.nav > ul > li:nth-of-type(4) .sub-menu,
.nav > ul > li:nth-of-type(4) > a:hover,
.nav > ul > li:nth-of-type(4) > a:focus {
	border-bottom: .2rem solid rgba(100,95,170,1);
}
.nav > ul > li:nth-of-type(5) .sub-menu,
.nav > ul > li:nth-of-type(5) > a:hover,
.nav > ul > li:nth-of-type(5) > a:focus {
	border-bottom: .2rem solid rgba(0,137,207,1);
}
.nav > ul > li:nth-of-type(6) .sub-menu,
.nav > ul > li:nth-of-type(6) > a:hover,
.nav > ul > li:nth-of-type(6) > a:focus {
  border-bottom: .2rem solid rgba(13,177,75,1);
}


.nav > ul > li:nth-of-type(1) > a:focus {
	outline: .2rem solid rgba(253,185,19,1);
  outline-offset: 0;
}
.nav > ul > li:nth-of-type(2) > a:focus {
	outline: .2rem solid rgba(243,112,33,1);
  outline-offset: 0;
}
.nav > ul > li:nth-of-type(3) > a:focus {
	outline: .2rem solid rgba(180,40,70,1) ;
  outline-offset: 0;
}
.nav > ul > li:nth-of-type(4) > a:focus {
	outline: .2rem solid rgba(100,95,170,1);
  outline-offset: 0;
}
.nav > ul > li:nth-of-type(5) > a:focus {
	outline: .2rem solid rgba(0,137,207,1);
  outline-offset: 0;
}
.nav > ul > li:nth-of-type(6) > a:focus {
	outline: .2rem solid rgba(13,177,75,1);
  outline-offset: 0;
}

.nav .menu-item-has-children {
	position: relative;
	top: 1px;
}
.nav .menu-item-has-children a + .sub-menu {
	display: none;
	background-color: #fff;
	padding-top: .5rem;
}
.nav .menu-item-has-children:hover a + .sub-menu,
.nav .menu-item-has-children:focus-within a + .sub-menu {
	display: block;
	position: absolute;
	z-index: 1;
}
.nav .menu-item-has-children a + .sub-menu a {
	padding: .5rem 1rem;
	white-space: nowrap;
}
.nav .menu-item-has-children a + .sub-menu a:hover,
.nav .menu-item-has-children a + .sub-menu a:focus {
	background-color: transparent;
	color: rgba(132,132,132,1);
}

.navigation__button {
  background: rgba(0,0,0,0);
  border: none;
  display: none;
  position: relative;
}

.navigation__button::after {
  color: #54585a;
  content: "\E90C";
  display: block;
  font-family: comcorp-icons !important;
  font-size: 2.9375rem;
}

/* Content Blocks */
p {
  letter-spacing: .025rem;
  line-height:1.5;
  padding: 1rem 10% 2rem;
}
.overview {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .025rem;
  line-height:1.5;
  padding: 1rem 10% 2rem;
}
p:last-of-type {
  padding-bottom: 4rem;
}

/* Footer */
.footer {
	background-color: #f7f7f7;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, 
	rgba(253,185,19,1) 16.666%, 
	rgba(243,112,33,1) 16.666%, 
	rgba(243,112,33,1) 33.333%, 
	rgba(180,40,70,1) 33.333%, 
	rgba(180,40,70,1) 49.999%, 
	rgba(100,95,170,1) 49.999%, 
	rgba(100,95,170,1) 66.666%, 
	rgba(0,137,207,1) 66.666%, 
	rgba(0,137,207,1) 83.333%, 
	rgba(13,177,75,1) 83.333%);
  flex-shrink: 0;
	font-size: 0.8rem;
	font-weight: 400;
	text-align: center;
}
.footer a {
	color: #000;
}
.footer-logo-img {
	color: #000;
	height: 38px;
	width: 74px;
}
.footer-logo-img:hover,
.footer-logo-img:focus {
	color: #000;
}
.footer__site {
	background-color: #333;
	color: #f4f4f4;
	padding: 4rem 3rem 2rem;
  margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
  margin-top: -1rem;
	max-width: 100vw;
	width: 100vw;
}
.footer__corporate {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 4rem 3rem 0rem;
}
.copyright {
	color: #666;
	padding-bottom: 2rem;
}
.copyright a {
	border-left: .05rem solid #666;
	color: #666;
	margin-left: .5rem;
	padding-left: .5rem;
}
.social {
	display: flex;
	margin: 0;
	padding: 0;
}
.social .menu-item {
	display: inline-block;
	margin-right: 1rem;
}
.social .menu-item a {
  background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid red;
	border-radius: 100%;
	display: inline-block;
	height: 2.5rem;
	transition: all 0.1s ease-out;
	width: 2.5rem;
}
.social .menu-item a:hover,
.social .menu-item a:focus {
	-webkit-transform: translate3d(0, 0, 0) scale(1.15);
  transform: translate3d(0, 0, 0) scale(1.15);
}
.footer a[href*="facebook.com"] {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='20' width='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 23'%3e%3cpath fill='%234267b2' fill-rule='evenodd' d='M7.831 3.89c-.857 0-1.033.353-1.033 1.236V7.26h3.453l-.336 3.748H6.798V22.2h-4.47V11.05H0V7.26h2.328V4.269C2.328 1.462 3.823 0 7.15 0h3.092l.008 3.89h-2.42z'/%3e%3c/svg%3e");
	border: 1px solid #4267b2;
	color: #4267b2;
}
.footer a[href*="twitter.com"] {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='20' width='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 17'%3e%3cpath fill='%231da1f2' fill-rule='evenodd' d='M17.996 4.064C18.255 9.851 13.941 16.3 6.303 16.3A11.59 11.59 0 010 14.449a8.247 8.247 0 006.088-1.705 4.11 4.11 0 01-3.84-2.859c.645.12 1.282.086 1.86-.069C2.126 9.42.765 7.638.808 5.726c.551.31 1.189.49 1.86.517A4.119 4.119 0 011.395.749a11.637 11.637 0 008.473 4.305C9.265 2.48 11.22 0 13.872 0c1.18 0 2.256.5 3.005 1.3a8.047 8.047 0 002.609-.999 4.102 4.102 0 01-1.808 2.274 8.245 8.245 0 002.359-.646 8.031 8.031 0 01-2.04 2.135z'/%3e%3c/svg%3e");
	border: 1px solid #1da1f2;
	color: #1da1f2;
}
.footer a[href*="linkedin.com"] {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='20' width='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3cpath fill='%232867b2' fill-rule='evenodd' d='M1.707 0a1.708 1.708 0 11-.004 3.415A1.708 1.708 0 011.707 0zM.234 14.19V4.711h2.945v9.477H.234zm4.792-9.478h2.821v1.295h.04c.393-.746 1.353-1.53 2.785-1.53 2.978 0 3.53 1.961 3.53 4.514v5.198H11.26V9.582c0-1.1-.021-2.515-1.53-2.515-1.531 0-1.764 1.198-1.764 2.433v4.69h-2.94V4.711z' transform='translate(.479 .48)'/%3e%3c/svg%3e");
	border: 1px solid #2867b2;
	color: #2867b2;
}
.footer a[href*="github.com"] {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='20' width='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 21'%3e%3cpath fill='%234078c0' d='M14.06 11.92c.39 0 .72.19 1 .58.28.38.43.86.43 1.42 0 .56-.14 1.04-.43 1.42-.28.38-.62.58-1 .58-.41 0-.76-.19-1.05-.58-.28-.38-.42-.86-.42-1.42s.14-1.04.42-1.42c.29-.39.64-.58 1.05-.58zm5.03-5.2c1.1 1.19 1.65 2.63 1.65 4.32 0 1.1-.13 2.08-.38 2.96-.25.87-.57 1.59-.96 2.14s-.86 1.04-1.43 1.44c-.57.42-1.09.72-1.56.91-.47.19-1.01.34-1.63.45-.61.11-1.06.16-1.38.18-.31.01-.64.02-1 .02-.08 0-.35.01-.8.02-.44.02-.82.03-1.11.03-.29 0-.67-.01-1.11-.03-.45-.01-.72-.02-.8-.02-.36 0-.7 0-1-.02-.32-.02-.78-.07-1.38-.18-.62-.1-1.16-.25-1.63-.45-.47-.19-.99-.49-1.56-.91a6.3 6.3 0 01-1.43-1.44C1.2 15.59.88 14.88.62 14c-.25-.88-.38-1.86-.38-2.96 0-1.69.55-3.13 1.65-4.32-.1-.06-.11-.66 0-1.78.1-1.13.34-2.17.73-3.12 1.37.14 3.06.92 5.07 2.32.68-.18 1.62-.27 2.8-.27 1.25 0 2.18.09 2.81.27.92-.62 1.8-1.13 2.64-1.52.85-.38 1.47-.61 1.85-.67l.58-.13c.39.95.63 1.99.73 3.12.11 1.12.11 1.72-.01 1.78zm-8.54 11.43c2.46 0 4.32-.3 5.58-.89 1.26-.59 1.9-1.81 1.9-3.65 0-1.07-.4-1.96-1.2-2.67-.41-.39-.9-.62-1.45-.71-.54-.09-1.38-.09-2.51 0s-1.9.13-2.31.13c-.56 0-1.18-.03-1.94-.09s-1.36-.09-1.78-.11c-.44-.01-.9.04-1.4.16-.51.12-.92.32-1.25.62-.77.69-1.16 1.58-1.16 2.68 0 1.84.62 3.06 1.87 3.65 1.24.6 3.1.89 5.56.89h.09zm-3.56-6.23c.39 0 .72.19 1 .58.28.38.42.86.42 1.42 0 .56-.14 1.04-.42 1.42-.28.38-.62.58-1 .58-.42 0-.77-.19-1.05-.58-.28-.38-.42-.86-.42-1.42s.14-1.04.42-1.42c.28-.39.63-.58 1.05-.58z'/%3e%3c/svg%3e");
	border: 1px solid #4078c0;
	color: #4078c0;
}
.footer a[href*="instagram.com"] {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='20' width='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 21'%3e%3cpath fill='%23833ab4' fill-rule='evenodd' d='M11.175 1.895c2.803 0 3.135.01 4.242.06 1.023.047 1.58.219 1.949.362.49.19.84.418 1.207.785.367.368.595.717.785 1.207.144.37.315.926.362 1.95.05 1.106.06 1.438.06 4.241s-.01 3.135-.06 4.242c-.047 1.023-.218 1.579-.362 1.949-.19.49-.418.84-.785 1.207a3.252 3.252 0 01-1.207.785c-.37.143-.926.314-1.95.361-1.106.05-1.438.061-4.24.061-2.804 0-3.136-.01-4.242-.06-1.024-.048-1.58-.219-1.95-.362-.49-.19-.839-.418-1.206-.785a3.252 3.252 0 01-.785-1.207c-.144-.37-.315-.926-.362-1.95-.05-1.106-.061-1.438-.061-4.241s.01-3.135.061-4.242c.047-1.023.218-1.579.362-1.949.19-.49.417-.84.785-1.207a3.252 3.252 0 011.207-.785c.37-.143.925-.315 1.949-.361 1.107-.05 1.439-.061 4.241-.061m0-1.892c-2.85 0-3.208.012-4.327.063C5.73.117 4.968.295 4.3.554a5.145 5.145 0 00-1.86 1.211 5.145 5.145 0 00-1.21 1.86c-.26.667-.437 1.43-.488 2.547C.69 7.292.679 7.65.679 10.5c0 2.85.012 3.208.063 4.328.05 1.117.228 1.88.488 2.548.268.69.627 1.275 1.21 1.859a5.145 5.145 0 001.86 1.21c.667.26 1.43.438 2.548.489 1.12.05 1.477.063 4.327.063 2.851 0 3.209-.012 4.328-.063 1.117-.051 1.88-.229 2.548-.488a5.145 5.145 0 001.86-1.211 5.145 5.145 0 001.21-1.86c.26-.667.437-1.43.488-2.547.051-1.12.063-1.477.063-4.328 0-2.85-.012-3.208-.063-4.328-.051-1.117-.229-1.88-.488-2.548a5.145 5.145 0 00-1.21-1.859 5.145 5.145 0 00-1.86-1.21c-.668-.26-1.43-.438-2.548-.489-1.12-.05-1.477-.063-4.328-.063M11.175 5.11a5.39 5.39 0 100 10.78 5.39 5.39 0 000-10.78zm0 8.889a3.499 3.499 0 110-6.998 3.499 3.499 0 010 6.998zM18.038 4.897a1.26 1.26 0 11-2.52 0 1.26 1.26 0 012.52 0'/%3e%3c/svg%3e ");
	border: 1px solid #833ab4;
	color: #833ab4;
}
