.featureSection {
  color: #fff;
  display: flex;
  margin: 2rem calc(50% - 50vw) 0;
  max-width: 100vw;
  overflow: scroll hidden;
  padding: 4rem 3rem;
}

.featureSection a {
  color: #fff;
}

.featureIntro {
  padding-right: 2rem;
  width: 33%;
}

.featureTitle {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .10625em;
  line-height: 1.5;
  margin-top: 0;
  text-transform: uppercase;
}

.featureImage {
  height: auto;
  max-width: 20rem;
  padding: 0 2rem;
  width: 100%;
}

.featureItems {
  display: flex;
  justify-content: space-between;
  width: 66%;
}

.featureItems > div {
  padding: 0 .75rem;
}

.featureItems > div > img {
  background-color: #fff;
  border-bottom: .25rem solid #fdb913;
  height: 10rem;
  padding: 1rem;
  width: 10rem;
}

.featureItems > div > p {
  line-height: 1.15;
  margin: 0;
  padding: 0;
  width: 10rem;
}

.featureItems > div a {
  color: #fff;
  font-size: .75rem;
  font-weight: 400;
}

.more,
.moreMobile {
  color: #fff;
  line-height: .666;
  outline: .2rem solid rgba(255,255,255,0);
  text-decoration: none;
}

.more {
  font-size: 10rem;
  display: block;
}

.moreMobile {
  display: none;
}

.more:hover,
.more:focus,
.moreMobilehover,
.moreMobile:focus {
  color: #ccc;
  outline: 0px solid #fff0;
  text-decoration: none;
}

.moreMobile:after {
  content: "\E900";
  display: inline-block;
  font-family: comcorp-icons !important;
  font-size: 1.5em;
  margin-left: .5rem;
  transform: translate(0, 20%);
  transition: transform 0.2s ease-out;
}

.moreMobile:hover:after,
.moreMobile:focus:after {
  outline: 0px solid #fff0;
  transform: translate(1.125rem, 20%);
}

@media (max-width: 639px) {
  .more {
    display: none;
  }
  .moreMobile {
    display: block;
    white-space: nowrap;
  }
}

@media (max-width: 959px) {
  .featureSection {
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
  }
  .featureIntro {
    padding-right: 0;
    width: 100%;
  }
  .featureItems {
    width: auto;
  }
  .featureItems > div {
    padding: .3rem;
  }
}
