.nav {
  background-color: red;
  padding: 2rem;
  font-size: 1rem;
}

@media (max-width: 959px) {
  .nav > ul {
    background-color: #1e1f20;
    color: #fff;
    display: block;
    display: none;
    font-size: 1.25rem;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    padding: 3rem 0 0 0;
    z-index: 1000;
  }
  .nav > .navigation__button {
    display: block;
  }
  .nav > .navigation__close {
    display: block;
  }
  .nav li a {
    color: #fff;
  }
}
